body   {
    background-color: antiquewhite;
}

h1      {
    background-color: burlywood; 
    border: solid rebeccapurple;
    padding: 10px;
    margin-right: 70%;
    text-align: center;
}

h2      {
    background-color:aquamarine; 
    border: ridge cadetblue;
    padding: 10px;
    margin-right: 60%;
    text-align: center;
    color:royalblue;
}

h3      {
    background-color:crimson ; 
    border: dashed cornsilk;
    padding: 10px;
    margin-right: 60%;
    text-align: center;
    color:whitesmoke;
}